################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Notes
/Notes/bin/Debug
/Notes/obj
.vs/
Notes/bin
Notes/obj